.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #ccc;;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.complete{
    background-color: green;
}
.incomplete{
    background-color: royalblue;
}
.circleCon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first,.sec{
    position: relative;
    transform: translateX(-50%);
}
.last,.third{
    position: relative;
    transform: translateX(50%);
}
@media (width<450px) {
    span{
        font-size:0.7rem;
    }
}