.dot{
    width: 15px;
    height: 15px;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
}
.dot div{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    /* background-color:royalblue; */
}